<div class="container">
  <section class="content-header">
    <h1 class="logo" [routerLink]="['/']"></h1>
  </section>

  <section class="content">
    <div class="successMessage">
      <h2>The below file has been added to IPFS and sent to: <br/>
        <span class="senderEmail" style="color:#0099cc">{{this.data.to}} </span>
      </h2>
      <span class="fileName">{{this.name}}</span>
      <button class="successButton" mat-raised-button color="accent" [routerLink]="['/']">Send another file</button>
    </div>
  </section>
</div>
