@keyframes popup {
  0% { margin-left: -2000px;}
  100% { margin-left: 0;}
}



a {
  color: black;

}

.logo {
  text-decoration: underline;
}

.logo:hover {
  filter: drop-shadow(0 0 10px white);
}

#img-circle {
    border-radius: 50%;
    height: 250px;
    width: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: #8658c9;
}
/*some hard coded css, its a quick fix, but needs to be refactored*/

/*ipad*/
@media screen and (max-width: 768px) {
  .container {
    top: 30vh;
    left: 20vw;
    transform: scale(1.0);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    top: 20vh;
    left: 25vw;
    transform: scale(1.0);
  }
}
/*nexus5x*/
@media screen and (max-width: 412px) {
  .container {
    top: 15vh;
    left: -5vw;
    transform: scale(0.75);
  }
}
/*galaxys5*/
@media screen and (max-width: 360px) {
  .container {
    top: 10vh;
    left: -12vw;
    transform: scale(0.75);
  }
}
/*iphone 6 and 6+*/
@media screen and (max-width: 414px) {
  .container {
    top: 15vh;
    left: -5vw;
    transform: scale(0.75);
  }
}
@media screen and (max-width: 375px) {
  .container {
    top: 15vh;
    left: -10vw;
    transform: scale(0.75);
  }
}
/*iphone5*/
@media screen and (max-width: 320px) {
  .container {
    top: 12vh;
    left: -20vw;
    transform: scale(0.65);
  }
}

.successMessage {
  display: flex;
  background-color: white;
  max-width: 500px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 3px;
  border-color: black;
  padding: 30px;
  margin-left: 27%;
  margin-top: 6%;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.successMessage h2 {
  font-weight: 400;
  font-size: 18px;
}

.successMessage .senderEmail {
  font-weight: 300;
}

.successButton {
  width: 150px;
}
.fileName {
  border: 1px double #005b7a;
  border-radius: 5px;
  padding: 10px 20px;
}

#text {
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
}

h2 {
  color: #005b7a;
}
